<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    
    
    <add key="ServiceNames" value="SQLBrowser;LanmanServer;defragsvc;TapiSrv;Themes;SQLAgent$SQLEXPRESS" />
    <!--birden çok servis kontrolü için ; (Noktalı virgül) ile bölebilirsiniz.-->
    
    <add key="ProgramDonguSuresiSaniye" value="10" />
    <!--Saniye cinsinden servis durumu kontrol süresi, üst üste mail gelirse değeri yükseltin-->
    
    <add key="TekrarEpostaGondermeSuresiDakika" value="60" />
    <!--Dakika cinsinden-->
    <add key="SourceMail" value="niyazikeklikk@gmail.com" />
    <add key="Password" value="" />
    <add key="SendMails" value="niyazikeklik@gmail.com;odevimp@gmail.com" />
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SQLConnectionString" value="Server=tcp:niyazi.database.windows.net,1433;Initial Catalog=SetCrmProduction;Persist Security Info=False;User ID=niyazi;Password=1234;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add key="JsonYolu" value="C:\Users\niyazi\source\repos\mailServicee\mailServicee\data.json" />
  </appSettings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>